In [7]:
# 1. Data Collection:

# Import pandas libraries for data manupulation (tables,database) & data analysis:

import pandas as pd

# Create variable name to read or view data collected (.csv) file:

dataset=pd.read_csv("Salary_Data.csv")

# Call the data to read or view  data collected (.csv) file:

dataset

    YearsExperience  Salary
0               1.1   39343
1               1.3   46205
2               1.5   37731
3               2.0   43525
4               2.2   39891
5               2.9   56642
6               3.0   60150
7               3.2   54445
8               3.2   64445
9               3.7   57189
10              3.9   63218
11              4.0   55794
12              4.0   56957
13              4.1   57081
14              4.5   61111
15              4.9   67938
16              5.1   66029
17              5.3   83088
18              5.9   81363
19              6.0   93940
20              6.8   91738
21              7.1   98273
22              7.9  101302
23              8.2  113812
24              8.7  109431
25              9.0  105582
26              9.5  116969
27              9.6  112635
28             10.3  122391
29             10.5  121872

In [9]:
# 2. Data Preprocessing:  

# Data is already prepocessed.

In [13]:
# 3. Split Input & Output:

# To Split Input:

independent=dataset[["YearsExperience"]]

# To split Output:

dependent=dataset[["Salary"]]

In [14]:
# To Call or view splited input data:
independent

    YearsExperience
0               1.1
1               1.3
2               1.5
3               2.0
4               2.2
5               2.9
6               3.0
7               3.2
8               3.2
9               3.7
10              3.9
11              4.0
12              4.0
13              4.1
14              4.5
15              4.9
16              5.1
17              5.3
18              5.9
19              6.0
20              6.8
21              7.1
22              7.9
23              8.2
24              8.7
25              9.0
26              9.5
27              9.6
28             10.3
29             10.5

In [15]:
# To call or view splited output:

dependent

    Salary
0    39343
1    46205
2    37731
3    43525
4    39891
5    56642
6    60150
7    54445
8    64445
9    57189
10   63218
11   55794
12   56957
13   57081
14   61111
15   67938
16   66029
17   83088
18   81363
19   93940
20   91738
21   98273
22  101302
23  113812
24  109431
25  105582
26  116969
27  112635
28  122391
29  121872

In [19]:
# 4. To split Train set & Test set:

# sklearn- it trains your model in simple words:
  # a) Looks at your data → reads numbers in the table

  # b) Finds patterns → sees salary increases with experience

  # c) Learns relationships → builds a rule (a line) that connects experience to salary

from sklearn.model_selection import train_test_split

#  Break the data into two parts:
# x_train, y_train = for teaching the model
# x_test, y_test = for checking the model

# test_size=0.20 → use 20% of the data for testing
# random_state=40 → make the split the same every time

x_train,x_test,y_train,y_test=train_test_split(independent,dependent,test_size=0.20,random_state=40)

In [20]:
# To view the splited x_train (80% of input) data:
x_train

    YearsExperience
20              6.8
3               2.0
29             10.5
21              7.1
11              4.0
4               2.2
8               3.2
17              5.3
26              9.5
22              7.9
0               1.1
9               3.7
10              3.9
23              8.2
28             10.3
12              4.0
1               1.3
18              5.9
25              9.0
24              8.7
5               2.9
7               3.2
27              9.6
6               3.0

In [21]:
# To view the splited x_test (20% of input) data:
x_test

    YearsExperience
2               1.5
16              5.1
19              6.0
14              4.5
15              4.9
13              4.1

In [22]:
# To view the splited y_train (80% of output) data:

y_train

    Salary
20   91738
3    43525
29  121872
21   98273
11   55794
4    39891
8    64445
17   83088
26  116969
22  101302
0    39343
9    57189
10   63218
23  113812
28  122391
12   56957
1    46205
18   81363
25  105582
24  109431
5    56642
7    54445
27  112635
6    60150

In [23]:
# To view the splited y_test (20% of output) data:

y_test

    Salary
2    37731
16   66029
19   93940
14   61111
15   67938
13   57081

In [35]:
# 5. Model creation part:

# sklearn is a library in Python for machine learning.

# linear_model contains algorithms for linear regression.

# LinearRegression is the class that implements linear regression.

from sklearn.linear_model import LinearRegression

# Create a LinearRegression model (this is just an empty model for now)

regressor=LinearRegression()

# Train the model using the training data

# x_train -> input features

# y_train -> target/output values

# The model learns the relationship between x_train and y_train

regressor.fit(x_train,y_train)

LinearRegression()

In [36]:
# To get weight or slope:

# regressor.coef_ → Gives the weights 

weight=regressor.coef_

In [37]:
# To store weight or slope:

weight

array([[9268.66191159]])

In [38]:
# To get bias value where starts

# regressor.intercept_ gives you that starting point directly.

bias=regressor.intercept_

In [39]:
# To call Bias:

bias

array([27531.14029939])

In [40]:
# Use the trained model to make predictions on new data

# x_test -> the input features for which we want predictions

# regressor.predict() -> calculates the predicted target values using the learned weights and bias

# y_pred -> stores the predicted values

y_pred=regressor.predict(x_test)

In [41]:
# To call or stores predicted values:

y_pred

array([[41434.13316677],
       [74801.31604849],
       [83143.11176892],
       [69240.11890153],
       [72947.58366617],
       [65532.6541369 ]])

In [44]:
# 6. Evaluate the Metrics:

# Import the r2_score function from scikit-learn

# r2_score is used to measure to check how good the model is

from sklearn.metrics import r2_score

# calculate R² score by comparing actual salaries with predicted salaries

r_score=r2_score(y_test,y_pred)

In [45]:
# To call or view good model:

r_score

0.7775083459037234

In [50]:
# 7. Save the good model:

# pickle is a Python library to save and load Python objects (like models, lists, dictionaries) 

import pickle

# filename - filename to save or load your model without typing the file name again.

# The .sav extension is a common choice for saved models

filename="finalized_new_model.sav"

In [52]:
# Take the trained model and save it to the file so it can be loaded later.

# wb – save your object safely so you can use it later without any change.

pickle.dump(regressor,open(filename, 'wb'))

In [54]:
# 7. Load the Saved new evaluated model:

# Load the saved model from the file

# 'rb' = read in binary mode

loaded_model=pickle.load(open("finalized_new_model.sav",'rb'))

# Use the loaded model to predict a value for new data

# [[15]] = input value (1 row, 1 feature)

result=loaded_model.predict([[15]])

C:\ANACONDA\Lib\site-packages\sklearn\utils\validation.py:2739: UserWarning: X does not have valid feature names, but LinearRegression was fitted with feature names
  warnings.warn(

In [55]:
# result = predicted output

result

array([[166561.06897321]])